---
layout : layouts/base.njk
---

	<!-- Intro -->
	<section class="intro">
		<header>
			<h1>
				<a href="{{ data.product }}">{{ data.app_title }}</a>
			</h1>
			<p>
				{{ data.app_subtitle }}
			</p>
			<ul class="actions">
				<li><a href="#first" class="arrow scrolly"><span class="label">Mai Mult</span></a></li>
			</ul>
		</header>
		<div class="content">
			<span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
		</div>
	</section>

	<!-- Section -->
	<section id="first">
		<header>
			<h2>
				Bine ati venit
			</h2>
		</header>
		<div class="content">
			<p>
				Suntem <strong>Pensiunea Valea Gepișului</strong> și ne propunem să fim pentru tine acea oază de liniște, pace, armonie și frumos și acel refugiu, departe de agitația urbană de care suntem convinși că și tu, și cei apropiați sufletului tău, aveți nevoie din când în când.
				<br />
				Aici, <strong>în inima Bihorului</strong>, într-un decor pur și simplu feeric, ți-am pregătit un loc al tău precum o casă departe de casă în care să fii tratat mai mult decât un oaspete, bucurându-te atât de facilitățile pe care ți le oferim dar și de frumusețea naturii.
			</p>
			
			<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
		</div>
	</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Servicii de Cazare
						</h2>
					</header>
					<div class="content">
						<p>
							Oferim turistilor 12 camere cochete, amenajate cu bun gust, de un living mai mult decât spațios, decorat în stil rustic, 
							ideal pentru familii dar si pentru cupluri de tineri. 

						</p>
						<ul class="feature-icons">
							<li class="icon solid fa-envelope"> <a href="mailto:{{ data.email }}">{{ data.email }}</a></li>
							<li class="icon solid fa-phone"><a href="tel:{{ data.phone }}">{{ data.phone }}</a></li>
						</ul>
						<p>
							<strong>Va asteptam cu drag</strong>.
						</p>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Alte Servicii
						</h2>
					</header>
					<div class="content">

						<p>
							<strong>Facilitati</strong> - teren multifuncțional artificial: fotbal, basket, tenis.
							<br />
							<strong>Activitati</strong> - plimbări cu ATV-ul, activități pentru pasionații de sporturi enduro
							<br />
							<strong>Organizare evenimente</strong> - evenimente private, team building
							<br />
							<strong>NOU</strong> - pastravarie, parc pt copii si fish bistro traditional
						</p>

						<!-- Section -->
						<section>
							<header>
								<p>
									<strong>Pensiunea Valea Gepișului</strong> - oaza ta de liniste.
								</p>
							</header>
							<div class="content">
								<div class="gallery">
									<a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
									<a href="images/gallery/fulls/02.jpg"><img src="images/gallery/thumbs/02.jpg" alt="" /></a>
									<a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
									<a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a>
								</div>
							</div>
						</section>

					</div>
				</section>
